<div *ngIf="ver">
  <div class="row">
      <app-titulo [title]="'Desenvolvedor: '+ devSelected.name"></app-titulo>
  </div>
  <div class="d-flex flex-row-reverse">
    <button class="btn btn-warning" (click)="voltar()">Desenvolvedores</button>
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Nome:</label>
    <input type="text" class="form-control" id="formGroupExampleInput" value="{{devSelected.name}}" />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Cargo:</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" value="{{devSelected.position}}" >
  </div>
</div>
<div *ngIf="!ver">
  <app-titulo [title]="title"></app-titulo>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Cargo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dev of dev" style="cursor: pointer;" (click)="devSelect(dev)">
        <th scope="row">{{dev.id}}</th>
        <td>{{dev.name}}</td>
        <td>{{dev.position}}</td>
      </tr>
    </tbody>
  </table>
</div>