<div *ngIf="ver">
  <app-titulo [title]="(devSelected.id === 0 ? 'Novo Dev': 'Cód: ' + devSelected.id)">
    <button class="btn btn-warning" (click)="voltar()">
      Lista de Devs
    </button>

  </app-titulo>

  <div class="row">
    <form [formGroup]="devForm" (submit)="devSubmit()">
      <div class="form-group">
        <label for="formGroupExampleInput">Nome:</label>
        <input formControlName="name" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2" class="form-label">Cargo:</label>
        <input type="text" class="form-control" formControlName="position">
      </div>
      <div class="form-group">
        <hr>
        <button class="btn  btn-success" [disabled]="!devForm.valid">Salvar</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="!ver">
  <app-titulo [title]="title">
    <button class="btn btn-success" (click)="novoDev()">
      Cadastrar Dev
    </button>
  </app-titulo>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Visualizar</th>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Cargo</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dev of devs">
        <td><button (click)="devSelect(dev)" class=" text-dark btn btn-sm btn-outline-warning">Editar</button></td>
        <th scope="row">{{dev.id}}</th>
        <td>{{dev.name}}</td>
        <td>{{dev.position}}</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-sm btn-outline-primary" (click)="openModal(template, dev.id)">Projetos</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #template>

  <div class="modal-body">
    <app-projetos-devs (closeModal)="closeModal()" [projetos]="projetosDevs"> </app-projetos-devs>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
  </button>
</div>
</ng-template>
