<div class="row">
  <div class="col-sm-6" *ngIf="ver">
    <app-titulo [title]="(selectedProject.id === 0 ? 'Novo Projeto': 'Cód: ' + selectedProject.id)">
      <button class="btn  btn-outline-danger" (click)="voltar()">Fechar</button>
    </app-titulo>

    <form [formGroup]="projectForm" (submit)="projectSubmit()">
      <div class="form-group">
        <label for="exampleInputEmail1">Nome do Projeto:</label>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Descrição do Projeto:</label>
        <input type="text" class="form-control" formControlName="description">
      </div>
      <div class="form-group">
        <hr>
        <button class="btn  btn-success" [disabled]="!projectForm.valid">Enviar</button>
      </div>
    </form>
  </div>

  <div [ngClass]="{'col-sm-6': ver, 'col-sm-12': !ver}">
    <app-titulo [title]="title">

      <button class="btn btn-sm btn-success" (click)="projetoNovo()">Cadastrar Projeto</button>

    </app-titulo>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Visualizar</th>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projetos of projetos">
          <th> <button (click)="selectProject(projetos)"
              class=" text-dark btn btn-sm btn-outline-warning ">Detalhe</button></th>
          <th scope="row">{{projetos.id}}</th>
          <td>{{projetos.name}}</td>
          <td>{{projetos.description}}</td>
          <td class="btn-group">
            <button (click)="openModal(template, projetos.id)" class="btn btn-sm btn-outline-primary">Devs</button>
            <button class="btn btn-sm btn-outline-danger" (click)="deletarProjeto(projetos.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #template>
  <div class="modal-body">
    <app-devs-projetos (closeModal)="closeModal()" [devs]="devsProjetos"></app-devs-projetos>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef?.hide()">Fechar
    </button>
  </div>
</ng-template>
